/* styling for tags */
body {
   margin: 0px;
   background-color: #e2e2e2;
}

/* styling for classes */
.header {
   padding-left: 20px;
   background-color: #ba7272;
}


.img {
   border: 2px solid #000000;
   padding: 10px;
   border-radius: 50px 20px;
}

.img:hover {
   transform: scale(1.2) translate(100px, 0px);
}

.image p {
   color: #000000;
   transform: translate(50%, -500%);
   position: absolute;
   font-size: 25px;
}

.divider {
   border: 0;
   width: 100%;               
   background-color: #ff0000;
   height: 2px;
}

.factsHeading {
   font-size: 25px
}
.factsList {
   font-size: 20px
}

.dividerOfFacts {
   border: 0;
   background-color: #1f98ff;
   width: 50%;
   height: 3px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.links {
   
   display: flex;
   flex-wrap: wrap;
   justify-content: left;

}

a:link {
   color: #175dff;
}

a:visited {
   color: #8c7267;
}

.menu {
   border-style: solid;
   background-color: #82f400;
   margin-left: 20px;
   padding: 15px;
   font-size: 20px;
}

.origamiSection {
   margin: 10px;
}