/* styling for tags */
body {
   background-color: rgb(226, 226, 226);
}

/* styling for classes */
.header {
   background-color: rgb(155, 152, 152);
}


.img {
   border: 2px solid black;
   padding: 10px;
   border-radius: 50px 20px;
}

.divider {
   border: 0;
   width: 100%;               
   background-color: red;
   height: 2px;
}

.factsHeading {
   font-size: 25px
}
.factsList {
   font-size: 20px
}

.dividerOfFacts {
   border: 0;
   background-color: #1f98ff;
   width: 50%;
   height: 3px;
}
